@import url("./main.css");

.carousel-item {
  height: 100%;
  width: 100%;
}

.carousel-item img {
  height: 100%;
  width: 100%;
  margin: auto;
  object-position: center top;
  object-fit: cover;
}

.carousel-item .img-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.carousel-item .text-block {
  padding: 20px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.612);
  backdrop-filter: blur(4px);
  bottom: 10px;
  right: 10px;
  z-index: 2;
  border-radius: 10px;
  min-width: 500px;
}

.carousel-item h2 {
  font-size: 2em;
}

.carousel-item .trailer-button {
  padding: 2px 8px;
  background-color: rgba(0, 0, 0, 0.789);
  backdrop-filter: blur(4px);
  color: var(--gold);
  border-color: var(--gold);
  border-width: 1px;
}

.carousel-item .trailer-button:hover {
  background-color: transparent;
  backdrop-filter: blur(4px);
}

.carousel-item .provider-logo {
  width: 2rem;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .carousel-item h2 {
    font-size: 1em;
  }
}

@media screen and (max-width: 520px) {
  .carousel-item .text-block {
    padding: 20px;
    position: absolute;
    background-color: var(--bg);
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.612);
    backdrop-filter: blur(4px);
  }
}
