@import url("./main.css");

.carousel-banner {
  position: relative;
}

.carousel-banner .carousel-inner {
  height: 80vh;
}

.carousel-banner .now-playing {
  position: absolute;
  top: 5%;
  left: 6%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.789);
  backdrop-filter: blur(4px);
  border-radius: 30px;
  padding: 10px 16px 6px 16px;
  line-height: 2rem;
}

.carousel-banner .carousel-control-next-icon {
  height: 1.2em;
}

.carousel-banner .carousel-control-prev-icon {
  height: 1.2em;
}

.carousel-banner .indicator {
  width: 1rem;
  height: 0.2rem;
  background-color: rgba(255, 234, 0, 0.217);
  border-radius: 50px;
  cursor: pointer;
}

.carousel-banner .indicator.active {
  background-color: var(--gold);
}

@media screen and (max-width: 520px) {
  .carousel-banner .carousel-inner {
    height: 50vh;
  }
}

@media screen and (max-width: 320px) {
  .carousel-banner .carousel-inner {
    height: 40vh;
  }
}
